## Introduction to Pandas

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

### Series

In [3]:
data=['a','b','c','d']
indices=[1,2,3,4]
series=pd.Series(data=data,index=indices)
print(series)

1    a
2    b
3    c
4    d
dtype: object

### Data Frames

In [13]:
frame=pd.DataFrame({"Col 1":[1,2,3],"Col 2":[4,5,6],"Col 3":[7,8,9]})
print(frame)

   Col 1  Col 2  Col 3
0      1      4      7
1      2      5      8
2      3      6      9

In [14]:
df=pd.read_csv("../Data/Auto.csv")
print(df.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
0  18.0          8         307.0         130    3504          12.0    70
1  15.0          8         350.0         165    3693          11.5    70
2  18.0          8         318.0         150    3436          11.0    70
3  16.0          8         304.0         150    3433          12.0    70
4  17.0          8         302.0         140    3449          10.5    70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

In [15]:
#get a column by name
print(df["mpg"])

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
387    27.0
388    44.0
389    32.0
390    28.0
391    31.0
Name: mpg, Length: 392, dtype: float64

In [23]:
#get a particular row
print(df.iloc[0,:])

mpg                                    18
cylinders                               8
displacement                          307
horsepower                            130
weight                               3504
acceleration                           12
year                                   70
origin                                  1
name            chevrolet chevelle malibu
Name: 0, dtype: object

In [22]:
#get multiple rows
print(df.iloc[0:2,:])

    mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
0  18.0          8         307.0         130    3504          12.0    70
1  15.0          8         350.0         165    3693          11.5    70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320

In [18]:
#get by index
print(df.iloc[7])

mpg                            14
cylinders                       8
displacement                  440
horsepower                    215
weight                       4312
acceleration                  8.5
year                           70
origin                          1
name            plymouth fury iii
Name: 7, dtype: object

In [25]:
#get only a particular coulmn by index
print(df.loc[7,"weight"])

4312

In [27]:
#add a new column
df["wbh"]=df.loc[:,"weight"]/df.loc[:,"horsepower"]
print(df.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
0  18.0          8         307.0         130    3504          12.0    70
1  15.0          8         350.0         165    3693          11.5    70
2  18.0          8         318.0         150    3436          11.0    70
3  16.0          8         304.0         150    3433          12.0    70
4  17.0          8         302.0         140    3449          10.5    70

   origin                       name        wbh
0       1  chevrolet chevelle malibu  26.953846
1       1          buick skylark 320  22.381818
2       1         plymouth satellite  22.906667
3       1              amc rebel sst  22.886667
4       1                ford torino  24.635714

In [40]:
#add a new row
row=pd.Series({"mpg":19,"cylinders":8,"displacement":300,"horsepower":150,"weight":3546,"acceleration":15,"year":65,"origin":2,"name":"ABC","wbh":3546/150},name="new_row")
df=df.append(row)
print(df.tail())

          mpg  cylinders  displacement  horsepower  weight  acceleration  \
388      44.0          4          97.0          52    2130          24.6
389      32.0          4         135.0          84    2295          11.6
390      28.0          4         120.0          79    2625          18.6
391      31.0          4         119.0          82    2720          19.4
new_row  19.0          8         300.0         150    3546          15.0

         year  origin           name        wbh
388        82       2      vw pickup  40.961538
389        82       1  dodge rampage  27.321429
390        82       1    ford ranger  33.227848
391        82       1     chevy s-10  33.170732
new_row    65       2            ABC  23.640000

In [41]:
#delete row
df=df.drop("new_row")
print(df.tail())

      mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
387  27.0          4         140.0          86    2790          15.6    82
388  44.0          4          97.0          52    2130          24.6    82
389  32.0          4         135.0          84    2295          11.6    82
390  28.0          4         120.0          79    2625          18.6    82
391  31.0          4         119.0          82    2720          19.4    82

     origin             name        wbh
387       1  ford mustang gl  32.441860
388       2        vw pickup  40.961538
389       1    dodge rampage  27.321429
390       1      ford ranger  33.227848
391       1       chevy s-10  33.170732

In [43]:
# delete column
df=df.drop("wbh",axis=1)
print(df.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
0  18.0          8         307.0         130    3504          12.0    70
1  15.0          8         350.0         165    3693          11.5    70
2  18.0          8         318.0         150    3436          11.0    70
3  16.0          8         304.0         150    3433          12.0    70
4  17.0          8         302.0         140    3449          10.5    70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

### Conditional Selection

In [53]:
print(df.loc[(df.loc[:,"mpg"]==18),"mpg"])

0      18.0
2      18.0
16     18.0
36     18.0
44     18.0
47     18.0
75     18.0
96     18.0
98     18.0
99     18.0
106    18.0
110    18.0
133    18.0
151    18.0
161    18.0
172    18.0
198    18.0
Name: mpg, dtype: float64

In [62]:
cylinder_indices=df.loc[:,"cylinders"]==8
weight_indices=df.loc[:,"weight"]>3500
print(df.loc[cylinder_indices & weight_indices,["cylinders","weight"]])

     cylinders  weight
0            8    3504
1            8    3693
5            8    4341
6            8    4354
7            8    4312
..         ...     ...
288          8    4054
289          8    3605
290          8    3940
296          8    3900
359          8    3725

[92 rows x 2 columns]

In [88]:
#perform a function on every item in data frame
temp=df.loc[:,"displacement"].map(lambda x: x*2)
print(temp)

0      614.0
1      700.0
2      636.0
3      608.0
4      604.0
       ...
387    280.0
388    194.0
389    270.0
390    240.0
391    238.0
Name: displacement, Length: 392, dtype: float64

### Grouping Data

In [84]:
cylinders=df.groupby("cylinders")
print(cylinders["horsepower"].sum())

cylinders
3      397
4    15578
5      247
6     8425
8    16305
Name: horsepower, dtype: int64

In [87]:
print(cylinders["mpg"].describe())

           count       mean       std   min    25%    50%    75%   max
cylinders
3            4.0  20.550000  2.564501  18.0  18.75  20.25  22.05  23.7
4          199.0  29.283920  5.670546  18.0  25.00  28.40  32.95  46.6
5            3.0  27.366667  8.228204  20.3  22.85  25.40  30.90  36.4
6           83.0  19.973494  3.828809  15.0  18.00  19.00  21.00  38.0
8          103.0  14.963107  2.836284   9.0  13.00  14.00  16.00  26.6

### Statistics

In [90]:
print(df["mpg"].sum())

9190.8

In [93]:
print(df["mpg"].mean())

23.44591836734694

In [94]:
print(df["mpg"].median())

22.75

In [96]:
print(df["mpg"].min())
print(df["mpg"].max())

9.0
46.6

In [97]:
print(df["mpg"].std())
print(df["mpg"].var())

7.805007486571799
60.918141865441825

### Sorting

In [99]:
print(df.sort_index(ascending=False))

      mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
391  31.0          4         119.0          82    2720          19.4    82
390  28.0          4         120.0          79    2625          18.6    82
389  32.0          4         135.0          84    2295          11.6    82
388  44.0          4          97.0          52    2130          24.6    82
387  27.0          4         140.0          86    2790          15.6    82
..    ...        ...           ...         ...     ...           ...   ...
4    17.0          8         302.0         140    3449          10.5    70
3    16.0          8         304.0         150    3433          12.0    70
2    18.0          8         318.0         150    3436          11.0    70
1    15.0          8         350.0         165    3693          11.5    70
0    18.0          8         307.0         130    3504          12.0    70

     origin                       name
391       1                 chevy s-10
390       1                ford ranger
389       1              dodge rampage
388       2                  vw pickup
387       1            ford mustang gl
..      ...                        ...
4         1                ford torino
3         1              amc rebel sst
2         1         plymouth satellite
1         1          buick skylark 320
0         1  chevrolet chevelle malibu

[392 rows x 9 columns]

In [102]:
print(df.sort_values("year"))

      mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
0    18.0          8         307.0         130    3504          12.0    70
28    9.0          8         304.0         193    4732          18.5    70
27   11.0          8         318.0         210    4382          13.5    70
26   10.0          8         307.0         200    4376          15.0    70
25   10.0          8         360.0         215    4615          14.0    70
..    ...        ...           ...         ...     ...           ...   ...
364  34.0          4         112.0          88    2395          18.0    82
363  27.0          4         112.0          88    2640          18.6    82
362  28.0          4         112.0          88    2605          19.6    82
375  36.0          4         107.0          75    2205          14.5    82
391  31.0          4         119.0          82    2720          19.4    82

     origin                       name
0         1  chevrolet chevelle malibu
28        1                   hi 1200d
27        1                 dodge d200
26        1                  chevy c20
25        1                  ford f250
..      ...                        ...
364       1  chevrolet cavalier 2-door
363       1   chevrolet cavalier wagon
362       1         chevrolet cavalier
375       3               honda accord
391       1                 chevy s-10

[392 rows x 9 columns]

### Handling Missing Data

In [111]:
dict={"A":[1,2,np.nan,7],
      "B":[3,np.nan,4,8],
      "C":[np.nan,5,6,9]}

df1=pd.DataFrame(dict)
print(df1)

     A    B    C
0  1.0  3.0  NaN
1  2.0  NaN  5.0
2  NaN  4.0  6.0
3  7.0  8.0  9.0

In [112]:
#drop rows with NaN
print(df1.dropna())

     A    B    C
3  7.0  8.0  9.0

In [114]:
#drop cols with NaN
print(df1.dropna(axis=1))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [115]:
#replace NaN with value
print(df1.fillna(value=0))

     A    B    C
0  1.0  3.0  0.0
1  2.0  0.0  5.0
2  0.0  4.0  6.0
3  7.0  8.0  9.0