In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

### Best Subset Selection

In [2]:
hitters_path="../../Data/Hitters.csv"
hitters=pd.read_csv(hitters_path)
hitters.head()

,Unnamed: 0,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,...,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,-Andy Allanson,293,66,1,30,29,14,1,293,66,...,30,29,14,A,E,446,33,20,NaN,A
1,-Alan Ashby,315,81,7,24,38,39,14,3449,835,...,321,414,375,N,W,632,43,10,475.0,N
2,-Alvin Davis,479,130,18,66,72,76,3,1624,457,...,224,266,263,A,W,880,82,14,480.0,A
3,-Andre Dawson,496,141,20,65,78,37,11,5628,1575,...,828,838,354,N,E,200,11,3,500.0,N
4,-Andres Galarraga,321,87,10,39,42,30,2,396,101,...,48,46,33,N,E,805,40,4,91.5,N

In [3]:
hitters.describe()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,Salary
count,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.00000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,263.000000
mean,380.928571,101.024845,10.770186,50.909938,48.027950,38.742236,7.444099,2648.68323,717.571429,69.490683,358.795031,330.118012,260.239130,288.937888,106.913043,8.040373,535.925882
std,153.404981,46.454741,8.709037,26.024095,26.166895,21.639327,4.926087,2324.20587,654.472627,86.266061,334.105886,333.219617,267.058085,280.704614,136.854876,6.368359,451.118681
min,16.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,19.00000,4.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67.500000
25%,255.250000,64.000000,4.000000,30.250000,28.000000,22.000000,4.000000,816.75000,209.000000,14.000000,100.250000,88.750000,67.250000,109.250000,7.000000,3.000000,190.000000
50%,379.500000,96.000000,8.000000,48.000000,44.000000,35.000000,6.000000,1928.00000,508.000000,37.500000,247.000000,220.500000,170.500000,212.000000,39.500000,6.000000,425.000000
75%,512.000000,137.000000,16.000000,69.000000,64.750000,53.000000,11.000000,3924.25000,1059.250000,90.000000,526.250000,426.250000,339.250000,325.000000,166.000000,11.000000,750.000000
max,687.000000,238.000000,40.000000,130.000000,121.000000,105.000000,24.000000,14053.00000,4256.000000,548.000000,2165.000000,1659.000000,1566.000000,1378.000000,492.000000,32.000000,2460.000000

In [4]:
hitters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  322 non-null    object
 1   AtBat       322 non-null    int64
 2   Hits        322 non-null    int64
 3   HmRun       322 non-null    int64
 4   Runs        322 non-null    int64
 5   RBI         322 non-null    int64
 6   Walks       322 non-null    int64
 7   Years       322 non-null    int64
 8   CAtBat      322 non-null    int64
 9   CHits       322 non-null    int64
 10  CHmRun      322 non-null    int64
 11  CRuns       322 non-null    int64
 12  CRBI        322 non-null    int64
 13  CWalks      322 non-null    int64
 14  League      322 non-null    object
 15  Division    322 non-null    object
 16  PutOuts     322 non-null    int64
 17  Assists     322 non-null    int64
 18  Errors      322 non-null    int64
 19  Salary      263 non-null    float64
 20  NewLeague   322 non-null    object
dtypes: float64(1), int64(16), object(4)
memory usage: 53.0+ KB

In [5]:
hitters=hitters.dropna(subset=["Salary"])
hitters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263 entries, 1 to 321
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  263 non-null    object
 1   AtBat       263 non-null    int64
 2   Hits        263 non-null    int64
 3   HmRun       263 non-null    int64
 4   Runs        263 non-null    int64
 5   RBI         263 non-null    int64
 6   Walks       263 non-null    int64
 7   Years       263 non-null    int64
 8   CAtBat      263 non-null    int64
 9   CHits       263 non-null    int64
 10  CHmRun      263 non-null    int64
 11  CRuns       263 non-null    int64
 12  CRBI        263 non-null    int64
 13  CWalks      263 non-null    int64
 14  League      263 non-null    object
 15  Division    263 non-null    object
 16  PutOuts     263 non-null    int64
 17  Assists     263 non-null    int64
 18  Errors      263 non-null    int64
 19  Salary      263 non-null    float64
 20  NewLeague   263 non-null    object
dtypes: float64(1), int64(16), object(4)
memory usage: 45.2+ KB

In [6]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

numerical_pipeline = Pipeline([("standardization",StandardScaler())])
numerical_attributes = ["Years","CRBI","Hits","PutOuts","Runs"]

categorical_pipeline = Pipeline([("Encoding",OneHotEncoder())])
categorical_attributes = ["Division"]

transformer = ColumnTransformer([("numerical",numerical_pipeline,numerical_attributes),
                                 ("categorical",categorical_pipeline,categorical_attributes)])

X = pd.DataFrame(transformer.fit_transform(hitters))
X.columns = ["Years","CRBI","Hits","PutOuts","Runs","DivisionW","DivisionE"]
Y = hitters["Salary"]

In [7]:
from itertools import combinations
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import math

lr=LinearRegression()

def findKBest(x,y,k):
    minMSE = math.inf
    best_features = np.array([])
    
    for feature_subset in combinations(x, k):
        feature_subset = np.array(feature_subset)
        
        if(k==1):
            lr.fit(x[feature_subset].to_numpy().reshape(-1,1),y)
        else:
            lr.fit(x[feature_subset],y)
        
        predictions = lr.predict(x[feature_subset])
        MSE = mean_squared_error(y,predictions)
        
        if MSE < minMSE:
            best_features = feature_subset
            minMSE = MSE
            
    return best_features

In [8]:
from sklearn.model_selection import cross_val_score

def bestSubsetSelection(x,y):
    minRMSE = math.inf
    best_model = np.array([])
    
    for i in range(1,len(x.columns)):
        features = findKBest(x,y,i)
        print(features)
        
        if(i==1):
            scores = cross_val_score(lr,x[features].to_numpy().reshape(-1,1),y,scoring="neg_mean_squared_error",cv=10)
        else:
            scores = cross_val_score(lr,x[features],y,scoring="neg_mean_squared_error",cv=10)
            
        RMSE = np.sqrt(-scores)
        if RMSE.mean() < minRMSE:
            minRMSE = RMSE.mean()
            best_model = features
                    
    return best_model,minRMSE

In [9]:
model,RMSE = bestSubsetSelection(X,Y)
print(model,RMSE)

['CRBI']
['CRBI' 'Hits']
['CRBI' 'Hits' 'PutOuts']
['CRBI' 'Hits' 'PutOuts' 'DivisionW']
['Years' 'CRBI' 'Hits' 'PutOuts' 'DivisionW']
['Years' 'CRBI' 'Hits' 'PutOuts' 'Runs' 'DivisionW']
['CRBI' 'Hits' 'PutOuts' 'DivisionW'] 328.45472283643323

### Forward Subset Selection

In [10]:
def findBestForwardSelectionModel(x,y,features,predictors):
    minMSE = math.inf
    best_predictor = np.array([])
    
    for predictor in predictors:
        predictor = np.array(predictor)
        
        if features.size == 0:
            features_subset = np.array(predictor)
            lr.fit(x[features_subset].to_numpy().reshape(-1,1),y)
            predictions = lr.predict(x[features_subset].to_numpy().reshape(-1,1))
        else:
            features_subset = np.append(features,predictor)
            lr.fit(x[features_subset],y) 
            predictions = lr.predict(x[features_subset])        
        
        MSE = mean_squared_error(y,predictions)
        
        if MSE < minMSE:
            best_predictor = predictor
            minMSE = MSE
        
    return best_predictor

In [11]:
def forwardSubsetSelection(x,y):
    minRMSE = math.inf
    best_model = np.array([])
    
    predictors = np.array(x.columns)
    features = np.array([])
    
    while len(predictors)>0:
        predictor = findBestForwardSelectionModel(x,y,features,predictors)
        predictor = np.array(predictor)
        predictors = predictors[predictors != predictor]
        
        if features.size == 0:
            features = np.array(predictor)
            scores = cross_val_score(lr,x[features].to_numpy().reshape(-1,1),y,scoring="neg_mean_squared_error",cv=10)
        else:
            features = np.append(features,predictor)
            scores = cross_val_score(lr,x[features],y,scoring="neg_mean_squared_error",cv=10)
        
        RMSE = np.sqrt(-scores)
        if RMSE.mean() < minRMSE:
            minRMSE = RMSE.mean()
            best_model = features
            
        print(features,RMSE.mean())
                    
    return best_model,minRMSE

In [12]:
forwardSubsetSelection(X,Y)

CRBI 363.9645724831608
['CRBI' 'Hits'] 339.97438029154944
['CRBI' 'Hits' 'PutOuts'] 334.2889472095445
['CRBI' 'Hits' 'PutOuts' 'DivisionW'] 328.45472283643323
['CRBI' 'Hits' 'PutOuts' 'DivisionW' 'Years'] 329.07457135801167
['CRBI' 'Hits' 'PutOuts' 'DivisionW' 'Years' 'Runs'] 329.8660608937565
['CRBI' 'Hits' 'PutOuts' 'DivisionW' 'Years' 'Runs' 'DivisionE'] 329.8660608937565

(array(['CRBI', 'Hits', 'PutOuts', 'DivisionW'], dtype='<U9'),
 328.45472283643323)

### Backward Subset Selection

In [13]:
def findBestBackwardSelectionModel(x,y,features):
    minMSE = math.inf
    best_predictor = np.array([])
    feature_subset = features
    
    for predictor in features:
        predictor = np.array(predictor)
        feature_subset = features[features != predictor]
        
        if feature_subset.size == 1:
            lr.fit(x[feature_subset].to_numpy().reshape(-1,1),y)
            predictions = lr.predict(x[feature_subset].to_numpy().reshape(-1,1))
        else:
            lr.fit(x[feature_subset],y) 
            predictions = lr.predict(x[feature_subset])        
        
        MSE = mean_squared_error(y,predictions)
        
        if MSE < minMSE:
            best_predictor = predictor
            minMSE = MSE
        
    return best_predictor

In [14]:
def backwardSubsetSelection(x,y):
    minRMSE = math.inf
    best_model = np.array([])
    
    features = np.array(x.columns)
    
    while len(features)>1:
        predictor = findBestBackwardSelectionModel(x,y,features)
        predictor = np.array(predictor)
        features = features[features != predictor]
        
        if features.size == 1:
            scores = cross_val_score(lr,x[features].to_numpy().reshape(-1,1),y,scoring="neg_mean_squared_error",cv=10)
        else:
            scores = cross_val_score(lr,x[features],y,scoring="neg_mean_squared_error",cv=10)
        
        RMSE = np.sqrt(-scores)
        if RMSE.mean() < minRMSE:
            minRMSE = RMSE.mean()
            best_model = features
            
        print(features,RMSE.mean())
                    
    return best_model,minRMSE

In [15]:
backwardSubsetSelection(X,Y)

['Years' 'CRBI' 'Hits' 'PutOuts' 'Runs' 'DivisionE'] 329.8660608937565
['Years' 'CRBI' 'Hits' 'PutOuts' 'DivisionE'] 329.0745713580117
['CRBI' 'Hits' 'PutOuts' 'DivisionE'] 328.4547228364332
['CRBI' 'Hits' 'PutOuts'] 334.2889472095445
['CRBI' 'Hits'] 339.97438029154944
['CRBI'] 363.9645724831608

(array(['CRBI', 'Hits', 'PutOuts', 'DivisionE'], dtype=object),
 328.4547228364332)